Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Blueprints/AdventureHUD.uasset
Content/ThirdPersonBP/Blueprints/AdventureHUD.uasset
